<a href="https://colab.research.google.com/github/terrencekwon/data-science-portfolio/blob/master/covid19_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Visualizing the COVID-19 Pandemic

In [36]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [42]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/08-24-2020.csv'
df = pd.read_csv(path)

df.info()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3950 entries, 0 to 3949
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3255 non-null   float64
 1   Admin2               3260 non-null   object
 2   Province_State       3782 non-null   object
 3   Country_Region       3950 non-null   object
 4   Last_Update          3950 non-null   object
 5   Lat                  3870 non-null   float64
 6   Long_                3870 non-null   float64
 7   Confirmed            3950 non-null   int64
 8   Deaths               3950 non-null   int64
 9   Recovered            3950 non-null   int64
 10  Active               3949 non-null   float64
 11  Combined_Key         3950 non-null   object
 12  Incidence_Rate       3870 non-null   float64
 13  Case-Fatality_Ratio  3898 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 432.2+ KB

    FIPS Admin2  ... Incidence_Rate Case-Fatality_Ratio
0    NaN    NaN  ...      97.753973            3.650076
1    NaN    NaN  ...     299.013135            2.951772
2    NaN    NaN  ...      95.454970            3.454537
3    NaN    NaN  ...    1371.901896            5.000000
4    NaN    NaN  ...       6.760731            4.500450
5    NaN    NaN  ...      95.988890            3.191489
6    NaN    NaN  ...     776.326956            2.099371
7    NaN    NaN  ...    1445.211549            1.994162
8    NaN    NaN  ...      26.395702            2.654867
9    NaN    NaN  ...      49.162355            1.302932
10   NaN    NaN  ...      13.436482            0.000000
11   NaN    NaN  ...      21.620565            0.542495
12   NaN    NaN  ...      26.359237            0.863931
13   NaN    NaN  ...      42.950514            5.652174
14   NaN    NaN  ...     278.495905            2.372184
15   NaN    NaN  ...      24.823234            1.378254
16   NaN    NaN  ...     283.076479            2.875074
17   NaN    NaN  ...     349.397264            1.465026
18   NaN    NaN  ...     457.217837            1.643059
19   NaN    NaN  ...    2921.926230            0.372091

[20 rows x 14 columns]

Deleting unwanted columns

In [43]:
df = df.drop(columns=['FIPS', 'Admin2', 'Province_State', 'Last_Update', 'Combined_Key'])
df.head()

  Country_Region       Lat  ...  Incidence_Rate  Case-Fatality_Ratio
0    Afghanistan  33.93911  ...       97.753973             3.650076
1        Albania  41.15330  ...      299.013135             2.951772
2        Algeria  28.03390  ...       95.454970             3.454537
3        Andorra  42.50630  ...     1371.901896             5.000000
4         Angola -11.20270  ...        6.760731             4.500450

[5 rows x 9 columns]

We are only interested in the total cases in each country, but our data set has the cases split up within each province/state. So we want to group the case counts by country.

In [52]:
country_totals = df.groupby('Country_Region').sum()
country_totals.head(20)

                            Lat  ...  Case-Fatality_Ratio
Country_Region                   ...
Afghanistan           33.939110  ...             3.650076
Albania               41.153300  ...             2.951772
Algeria               28.033900  ...             3.454537
Andorra               42.506300  ...             5.000000
Angola               -11.202700  ...             4.500450
Antigua and Barbuda   17.060800  ...             3.191489
Argentina            -38.416100  ...             2.099371
Armenia               40.069100  ...             1.994162
Australia           -256.850200  ...            14.766837
Austria               47.516200  ...             2.875074
Azerbaijan            40.143100  ...             1.465026
Bahamas               25.025885  ...             1.643059
Bahrain               26.027500  ...             0.372091
Bangladesh            23.685000  ...             1.340703
Barbados              13.193900  ...             4.347826
Belarus               53.709800  ...             0.914431
Belgium               50.833300  ...            12.176582
Belize                17.189900  ...             1.402525
Benin                  9.307700  ...             1.843972
Bhutan                27.514200  ...             0.000000

[20 rows x 8 columns]

In [39]:
df.sort_values(by='Confirmed', ascending=False).head(20)

      Country_Region        Lat  ...  Incidence_Rate  Case-Fatality_Ratio
54            Brazil -23.550500  ...     1647.420878             3.768110
253            India  19.449759  ...      563.077977             3.239842
574     South Africa -30.559500  ...     1030.961905             2.152097
263            India  11.006091  ...      495.048468             1.716353
234            India  15.912900  ...      671.037536             0.931128
271             Iran  32.427908  ...      429.976548             5.752734
6          Argentina -38.416100  ...      776.326956             2.099371
565     Saudi Arabia  23.885942  ...      886.583498             1.195837
20        Bangladesh  23.685000  ...      180.389892             1.340703
459             Peru -11.766533  ...     2712.273604             4.236247
248            India  14.705180  ...      419.854533             1.695662
3931  United Kingdom  52.355500  ...      504.160623            13.035806
92             Chile -33.437600  ...     3798.766957             3.086244
200           France  46.227600  ...      409.648557            11.367580
630           Turkey  38.963700  ...      307.914243             2.363954
518           Russia  55.750446  ...     2060.925595             1.839386
34            Brazil -12.579700  ...     1594.883206             2.099845
837               US  34.308284  ...     2319.857732             2.386504
2527              US  40.767273  ...     2786.842988            10.184476
50            Brazil -22.906800  ...     1224.214873             7.282362

[20 rows x 9 columns]